Daily Learnings Post Maker/Daily Learning Post.json
{
  "name": "Daily Learning Post",
  "nodes": [
    {
      "parameters": {
        "person": "tKiXEv7k5W",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        992,
        -240
      ],
      "id": "25beb530-0ab6-4761-95a4-5836c280660c",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "BhgZT2yYXkgVW6cr",
          "name": "LinkedIn account 630"
        }
      }
    },
    {
      "parameters": {
        "text": "=\n{{ $json.content.parts[0].text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1008,
        0
      ],
      "id": "0cf7a6aa-15b0-4bba-a055-cf39bee0fe75",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "8he8KGm6FIKprvQo",
          "name": "X account 265"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        -96
      ],
      "id": "894fe801-4796-4d34-9cb7-fac29c1bb292",
      "name": "Set Time for Posting"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14zOZvS6mTGVtfg0ziPT_GGZ3DiYFYCyZGaTSlcvkfGI",
          "mode": "list",
          "cachedResultName": "Social Automate",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zOZvS6mTGVtfg0ziPT_GGZ3DiYFYCyZGaTSlcvkfGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zOZvS6mTGVtfg0ziPT_GGZ3DiYFYCyZGaTSlcvkfGI/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        -96
      ],
      "id": "fe34dc0a-6032-4038-a1a1-d402a7b1f2ea",
      "name": "Reads Post Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Zg2MgNzlSOAYnHRS",
          "name": "Google Sheets account 132"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a7e3bc3e-663d-46dd-bfc6-fe60ac13f60b",
              "leftValue": "={{ $json['Posted?'] }}",
              "rightValue": "No",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        -96
      ],
      "id": "5fdc1b6e-15c5-4a37-b78c-ce58d2861f2d",
      "name": "Checks Posted Status"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Rewrite the following learning note into a concise, engaging, professional social media post. \nMake the tone positive, curious, reflective. \nKeep it within 250 characters.\nKeep core meaning.\nAdd relevant hashtags.\nDO NOT mention that it is rewritten or AI generated.\n\nOriginal:\n{{ $('Reads Post Status').item.json['Learning Summary'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        640,
        -112
      ],
      "id": "f526a04f-ec48-490f-8072-ec2d1b261a88",
      "name": "Post Writer",
      "credentials": {
        "googlePalmApi": {
          "id": "IC45dSnEHViNQoJp",
          "name": "Google Gemini(PaLM) Api account 587"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "14zOZvS6mTGVtfg0ziPT_GGZ3DiYFYCyZGaTSlcvkfGI",
          "mode": "list",
          "cachedResultName": "Social Automate",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zOZvS6mTGVtfg0ziPT_GGZ3DiYFYCyZGaTSlcvkfGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14zOZvS6mTGVtfg0ziPT_GGZ3DiYFYCyZGaTSlcvkfGI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 2,
            "Posted?": "Yes"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Learning Summary",
              "displayName": "Learning Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Posted?",
              "displayName": "Posted?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "urn",
              "displayName": "urn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        -144
      ],
      "id": "e315359d-7180-4338-b36f-f99b5fa4f12f",
      "name": "Updates Posting Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Zg2MgNzlSOAYnHRS",
          "name": "Google Sheets account 132"
        }
      }
    }
  ],
  "pinData": {
    "Set Time for Posting": [
      {
        "json": {
          "timestamp": "2025-11-23T12:44:40.664+05:30",
          "Readable date": "November 23rd 2025, 12:44:40 pm",
          "Readable time": "12:44:40 pm",
          "Day of week": "Sunday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "23",
          "Hour": "12",
          "Minute": "44",
          "Second": "40",
          "Timezone": "Asia/Kolkata (UTC+05:30)"
        }
      }
    ]
  },
  "connections": {
    "Create a post": {
      "main": [
        [
          {
            "node": "Updates Posting Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tweet": {
      "main": [
        [
          {
            "node": "Updates Posting Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Time for Posting": {
      "main": [
        [
          {
            "node": "Reads Post Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reads Post Status": {
      "main": [
        [
          {
            "node": "Checks Posted Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checks Posted Status": {
      "main": [
        [
          {
            "node": "Post Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Writer": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "10e386cd-b891-4870-93ed-7678c785d4c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "6CnVywcbozLztAz0",
  "tags": []
}